@charset "utf-8";
/* CSS Document */

html, body {
  height: 100%;
}
#container {
  border: 1px solid #666;
  padding: 5px;
  margin-bottom: 20px;
}
.element {
  width: 110px;
  height: 110px;
  margin: 5px;
  float: left;
  /*overflow: hidden;*/
  position: relative;
  color: #222;
}

.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
/**** Isotope CSS3 transitions ****/

.isotope, .isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}
/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
  -moz-transition-duration: 0s;
  -ms-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

.isotope.infinite-scrolling {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
/**** Base styles ****/

body {

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Arial, sans-serif;
  font-size: 12px;
  background: #333;
  color: #FFF;
}
/**** Isotope styles ****/

/*
.element.work     { background: #F00; background: hsl(   0, 100%, 50%); }
.element.tool     { background: #F80; background: hsl(  36, 100%, 50%); }
.element.skill    { background: #FF0; background: hsl(  72, 100%, 50%); }
.element.other    { background: #0F0; background: hsl( 108, 100%, 50%); }
*/

#infscr-loading {
  position: fixed;
  text-align: center;
  bottom: 30px;
  left: 42%;
  z-index: 100;
  background: white;
  background: hsla( 0, 0%, 100%, 0.9 );
  padding: 20px;
  color: #222;
  font-size: 15px;
  font-weight: bold;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
/*================================Flip====================================*/
@charset "UTF-8";
/* CSS Document */

div#outer {
  margin:10px;
  text-align: center;
}
p {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
h3 {
  font-size: 1.17em;
  margin: 0px;
  padding:0px;
}
div#float {
  max-width:1152px;
  margin-right: auto;
  margin-left: auto;
  background-color: #333;
  padding: 5px;
}
@media screen and (max-width: 1200px) {
 div#float {
 width:925px;
 margin-right: auto;
 margin-left: auto;
 background-color: #333;
 padding: 5px;
}
}
 @media screen and (max-width: 972px) {
 div#float {
 width:696px;
 margin-right: auto;
 margin-left: auto;
 background-color: #333;
 padding: 5px;
}
}
 @media screen and (max-width: 750px) {
 div#float {
 width:468px;
 margin-right: auto;
 margin-left: auto;
 background-color: #333;
 padding: 5px;
}
div#navigation ul li{
  margin-right: 0px;
  margin-left: 0px;
}
}
 @media screen and (max-width: 550px) {
 div#float {
 width:240px;
 margin-right: auto;
 margin-left: auto;
 background-color: #333;
 padding: 5px;
}
 div.item.w2 {
 width: 218px;
 height: auto;
}
}
div.item {
  width: 218px;
  border: 0px solid #666;
  margin:5px;
}
div.item.w2 {
  width: 436px;
  margin:5px;
}
div.item.w3 {
  width: 684px;
  margin:5px;
}
.item.w4 {
  width: 942px;
  margin:5px;
}
.square {
  float: left;
  width: 218px;
  height: 212px;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
.half {
  float: left;
  width: 218px;
  height: 106px;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
.tall {
  float: left;
  width: 218px;
  height: 275px;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
.mid {
  float: left;
  width: 218px;
  height: 168px;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}
.tall .front, .square .front, .half .front, .mid .front {
  float: none;
  top: 0;
  left: 0;
  z-index: 900;
  width: inherit;
  height: inherit;
  background: #6b7077;
  text-align: left;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
 -o-transition: all .4s ease-in-out;
 -ms-transition: all .4s ease-in-out;
 -moz-transition: all .4s ease-in-out;
 -webkit-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}
.tall.flip .front, .square.flip .front, .half.flip .front, .mid.flip .front {
  z-index: 900;
  border-color: #eee;
  background: #333;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
.tall .back, .square .back, .half .back, .mid .back {
  float: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 800;
  width: inherit;
  height: inherit;
  /*border: 1px solid #ccc;*/
  /*background: #333;*/
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-family: Verdana, Geneva, sans-serif;
  text-align: left;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
 -o-transition: all .4s ease-in-out;
 -ms-transition: all .4s ease-in-out;
 -moz-transition: all .4s ease-in-out;
 -webkit-transition: all .4s ease-in-out;
 transition: all .4s ease-in-out;
}
.tall.flip .back, .square.flip .back, .half.flip .back, .mid.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
}
/* ---- */
.tall .pad, .square .pad, .half .pad, .panel2 .pad, .mid .pad {
  padding: 5px 10px;
}
.panel.flip .action {
  display: none;
}
.block ol li {
  text-align: left;
  margin: 0 0 0 28px;
}
.block .action {
  display: block;
  padding: 3px;
  background: #333;
  text-align: right;
  font-size: .8em;
  opacity: 0;
  position: absolute;
  cursor: pointer;
-webkit-transition: opacity .2s linear;
}
.block:hover .action {
  opacity: .7;
}
div.back.dwn a {
  color:#fff;
}
div.back.dw, div.back.fl, div.back.ps, div.back {
  background-color: #B4B6BC;
  color:#fff;
}
div#navigation{
text-align: center;
}
div#navigation ul li{
  list-style: none;
  display: inline;;
  background: #008aff;
  padding: 10px;
  margin: 5px;
  float: left;
  margin-top:0px;
  font-size: 18px;
  border-radius: 8px 0px 8px 0px;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
  position: relative;
}
div#center{

}
div#navigation ul {
  display: table;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}
/*==================indiv styles====================*/
div.back.name{
  background-color: #9d0034;
  color: #fff;
}
div.back.name a {
  color: #fff;
}
div.back.contact{
  background-color: #009d07;
  color: #fff;
}
div.back.security, div.back.ac{
  background-color: #000;
  color: #fff;
}
div.back.ht{
  background-color: #00888c;
  color: #fff;
}
div.back.hob{
  background-color: #ba009e;
  color: #fff;
}
div.back.dwn {
  background-color: #008aff;
  color:#fff;
}
div.back {
  background-color: #fff;
  color:#303030;
}
div.back a {
  color:#303030;
}
div.back.fl {
  background-color: #d2283b;
  color:#fff;
}
div.back.dw {
  background-color: #8ca226;
  color:#fff;
}
div.back.ae {
  background-color: #646785;
  color:#fff;
}
div.back.ps {
  background-color: #0b78e5;
  color:#fff;
}
div.back.max {
  background-color: #69898a;
  color:#fff;
}
#resize {
  background-image: url("../images/resize.png");
  background-position: right bottom; 
  background-repeat: no-repeat;
}
